@model BubbleTea.Models.OrderIndexViewModel

@{
    ViewBag.Title = "Bubble Tea: Your Order";
}

<style>
    #orderTable td {
        vertical-align: middle;
    }
</style>

<h2>Your order</h2>
<table id="orderTable" class="table">
    <thead>
        <tr>
            <th class="text-right">Base Tea</th>
            <th class="text-right">Flavor</th>
            <th class="text-right">Toppings</th>
            <th class="text-right">Size</th>
            <th class="text-right">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-right">@line.BaseTea.Name</td>
                <td class="text-right">
                    @if (@line.Flavor != null)
                    {
                        @line.Flavor.Name
                    }
                </td>
                <td class="text-right">
                    @if(@line.Toppings != null)
                    { 
                        foreach (var item in @line.Toppings)
                        { <span>@item.Name</span><span>,</span> }
                    }
                </td>
                <td class="text-right">@line.Size.ToString()</td>
                <td class="text-right">@line.Price.ToString("c")</td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Order"))
                    {
                        @Html.Hidden("BaseTeaId", line.BaseTea.Id)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="btn btn-sm btn-warning"
                               type="submit" value="Remove" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue</a>
    @Html.ActionLink("Place order", "Checkout", null, new { @class = "btn btn-primary" })
</div>