@model BubbleTea.Models.OrderIndexViewModel

<style>
    #orderTable td {
        vertical-align: middle;
    }
</style>

<h2>Your order</h2>
<table id="orderTable" class="table">
    <thead>
        <tr>
            <th class="text-right">#</th>
            <th class="text-right">Base Tea</th>
            <th class="text-right">Flavor</th>
            <th class="text-right">Toppings</th>
            <th class="text-right">Size</th>
            <th class="text-right">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-right">@line.SerialNo</td>
                <td class="text-right">@line.BaseTea.Name.Split(new char[] { '-' })[0].Trim()</td>
                <td class="text-right">
                    @if (@line.Flavor != null)
                    {
                        @line.Flavor.Name
                    }
                </td>
                <td class="text-right">
                    @if (@line.Toppings != null)
                    {
                        foreach (var item in @line.Toppings)
                        { <span>@item.Name</span><span>,</span> }
                    }
                </td>
                <td class="text-right">@line.Size.ToString()</td>
                <td class="text-right">@line.Price.ToString("c")</td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Menu"))
                    {
                        @Html.Hidden("SerialNo", line.SerialNo)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="btn btn-sm btn-warning"
                               type="submit" value="Remove" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" class="text-right">Total:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    @if (Model.Cart.Lines.Count > 0)
    {
        @Html.ActionLink("Place order", "Checkout", "Menu", null, new { @class = "btn btn-primary" })
    }
</div>
